<h1>Listing articles</h1>
 <%= link_to 'Bài viết mới', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Xem', article_path(article) %></td>
      <td><%= link_to 'Thay đổi', edit_article_path(article) %></td>
      <td><%= link_to 'Xóa', article_path(article),
              method: :delete,
              data: { confirm: 'Bạn có chắc là muốn xóa bài viết chứ?' } %></td>
    </tr>
  <% end %>
</table>